
<%= stylesheet_link_tag 'login'%>

<div id="slideshow"> 
    <div id="login">
      <h1>Edit User</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="alert-danger alert" style="padding: 0px 0px 0px 0px">
        <%= devise_error_messages! %> 
        </div><div style = "text-align: center">
      <%= f.text_field :name, :placeholder => "Name", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;", autofocus: true %>
      <%= f.text_field :email, :placeholder => "E-Mail", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :contact_number, :placeholder => "Contact Number", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_area :address, :placeholder => 'Address', :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :job_title, :placeholder => "Job Title", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :job_company, :placeholder => "Job Company", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :education_degree, :placeholder => "Education Degree", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :education_college, :placeholder => "Education College", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

      <%= f.password_field :password, :type => "password", :placeholder => "New Password", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;", autocomplete: 'off' %>
      <%= f.password_field :password_confirmation, :type => "password", :placeholder => "Confirm Password", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;", autocomplete: 'off' %>
     <%= f.password_field :current_password, :type => "password", :placeholder => "Current Password", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;", autocomplete: 'off' %>
       
     

      <%= f.submit "Sign Up" %>             
      <% end %>
    </div>

