<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            <%= user.name %></h4>
                        <smally><cite title="San Francisco, USA"><%= user.address %> <i class="fa fa-map-marker">
                        </i></cite></smally>
                        <p>
                            <i class="fa fa-envelope"></i> <%=user.email%>
                            <br />
                            <i class="fa fa-globe"></i><a href="http://www.jquery2dotnet.com">   www.jquery2dotnet.com</a>
                            <br />
                            <i class="fa fa-phone"></i> <%= user.contact_number %>
                            <br />
                            <i class="fa fa-gift"></i> 28-Aug-1996
                            <br />
                            <i class="fa fa-share-alt"></i> <%= user.uid %>
                            <br />
                            <% if user.job_title %>
                                <i class="fa fa-line-chart"></i> Works as a <%= user.job_title %> at <%= user.job_company %>
                            <%  else %>
                            	<i class="fa fa-edit"></i> Studies <%= user.education_degree %> at <%=user.education_college%>
                            <% end %>
                           	</p>
                            
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                <i class = 'fa fa-user'></i> View Profile</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                        <%= link_to '/network/remove/'+user.id.to_s do %>
                        <button type="button" class="btn btn-danger" style = 'margin-left:10px'>
                                <li class = 'fa fa-trash'></li> UnFollow</button> <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>