<%= form_for(@user)  do |f| %>
<div style = "text-align: center"><div class="col-md-6">
      <%= f.text_field :name, :placeholder => "Name", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;", autofocus: true %>
      <%= f.text_field :email, :placeholder => "E-Mail", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :contact_number, :placeholder => "Contact Number", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_area :address, :placeholder => 'Address', :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :job_title, :placeholder => "Job Title", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :job_company, :placeholder => "Job Company", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :education_degree, :placeholder => "Education Degree", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :education_college, :placeholder => "Education College", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
    </div>
    <div class="col-md-6">
         <%= f.text_area :bio, :placeholder => 'Bio', :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :website, :placeholder => "Website", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <div class="col-xs-3 col-md-3" style="height: 100%"><br>
      <%= f.label :birthday, :placeholder => "Birthday", :style => "min-height: 58px;"%>
    </div>
    <div class="col-xs-9 col-md-9">
      <%= f.date_field :dob, :placeholder => "Birthday", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
    </div>
      <%= f.text_field :location, :placeholder => "Location", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :pic, :placeholder => "Profile Picture", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
       <%= f.text_field :github, :placeholder => "Github", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :gplus, :placeholder => "Google+", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :linkedin, :placeholder => "Linkedin", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.text_field :twitter, :placeholder => "Twitter", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
       <%= f.text_field :facebook, :placeholder => "Facebook", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
</div>
      <div id="" class="col-md-4 col-md-offset-4">
      <%= f.submit  'Update', :class => ''%><br><br>
      <%= link_to  '/users/edit', :class => '' do %><span class="button" id="toggle-login">Change Password</span><%end%><br><br></div>
<%end%>