<%= stylesheet_link_tag 'login'%>

<div id="slideshow"> 
    <div id="login">
      <h1>Forgot Your Password</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="alert-danger alert" style="padding: 0px 0px 0px 0px">
        <%= devise_error_messages! %> 
        </div><div style = "text-align: center">
      <%= f.text_field :email, :placeholder => "E-Mail", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;"%>
      <%= f.submit "Send reset password instructions" %>             
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
</div>
