
<%= stylesheet_link_tag 'login'%>


<div id="slideshow"> 
		<div id="login">
			<h1>Log in</h1>
			<center>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<%= f.email_field :email, :placeholder => "Email", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;", autofocus: true %>
			<%= f.password_field :password, :type => "password", :placeholder => "Password", :style => "width: 92%;background: #fff;margin-bottom: 4%;border: 1px solid #ccc;padding: 4%;font-family: 'Open Sans',sans-serif;font-size: 95%;color: #555;" %><br>
			<%= f.check_box :remember_me, :type => "checkbox", :name => "rem", :value => "1" %> <%= f.label :remember_me %></center></center>
			<%= f.submit "Sign in" %>					    
			<% end %>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		</div>
		<%= render "devise/shared/links" %>
	</div>


